:root {
  --main-font: 'Roboto', sans-serif;
  --accent-color: #742863;
  --main-text-color: #222222;
  --secondary-text-color: #000000;
  --main-color: #ffffff;
  --font-size: 18px;
  --line-height: 1.17;

  /* ====== animation ========== */
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

  /* ====== breakpoints ========= */
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1024px;
}

body {
  font-family: var(--main-font);
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.form {
  display: flex;
  flex-flow: column;
  background-color: var(--main-color);
  margin: 20px 20px;
  padding-left: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.text {
  display: block;
  margin-bottom: 10px;
}

.title {
  margin-top: 20px;
  padding-top: 20px;
  /* padding-left: 20px; */
  font-weight: 700;
  font-size: 24px;
  color: var(--secondary-text-color);
}

.label {
  color: var(--accent-color);
  margin-bottom: 10px;
}

.input {
  font-size: 20px;
  resize: none;
  color: var(--main-text-color);
}

.list {
  width: 236px;
  display: block;
  font-size: 20px;
  list-style-type: none;
  color: var(--main-text-color);
  margin: 0;
  margin-right: 20px;
  padding-left: 10px;
  background-color: var(--main-color);
  border: 1px solid #808080;
  min-height: 50px;
}
.buttons {
  display: flex;
  flex-direction: column;
}
button {
  max-width: 213px;
  margin-top: 10px;
}

button:last-child {
  margin-bottom: 10px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.add-btn {
  margin-bottom: 10px;
}

.glow-on-hover {
  width: 220px;
  height: 28px;
  border: none;
  outline: none;
  color: #fff;
  background: var(--accent-color);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: var(--accent-color);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .add-btn {
    margin-right: 50px;
    margin-top: 32px;
  }

  .input {
    width: 425px;
  }
  .list {
    width: 425px;
    min-height: 250px;
  }
  .output {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 900px) {
  .add-btn {
    margin-right: 150px;
  }
  .buttons {
    margin-right: 104px;
  }
}

@media (min-width: 1000px) {
  .add-btn {
    margin-right: 266px;
  }
  .buttons {
    margin-right: 220px;
  }
}

@media (min-width: 1200px) {
  .form {
    margin: 50px;
    padding-left: 85px;
  }
  .add-btn {
    margin-right: 350px;
  }
  .buttons {
    margin-right: 302px;
  }
}
